<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Need a Haircut?</h2>
        <hr class="primary">

        <p>Hit me up</p>
        <br>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4">
        <i class="fa fa-phone fa-3x sr-contact"></i>
        <p>(209) 298-2804</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-map-marker fa-3x sr-contact"></i>
        <p>I am located in <br>Stockton, CA</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p><a href="mailto:SAMPLE@EMAIL.COM">balanon67@gmail.com</a></p>
      </div>
    </div>
  </div>
</section>