<footer>
  <div class="col-lg-8text-center">
    <ul class="footer-icons">
      <li class="icon">
        <a href="#"><%= image_tag("yelp.png") %></a>
      </li>

      <li class="icon">
        <a href="#"><%= image_tag("facebook.png") %></a>
      </li>

      <li class="icon">
        <a href="#"><%= image_tag("linkedin.jpg") %></a>

      </li>

      <li class="icon" >
        <a href="#"><%= image_tag("instagram.png") %></a>
      </li>
    </ul>
    <p class="copyright">© 2017 Erwin the Barber</p>
  </div>
</footer>