<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Want to see more?</h2>
      <a href="https://www.instagram.com/erwinthebarber/?hl=en" class="btn btn-default btn-xl sr-button">Visit my Instagram</a>
    </div>
  </div>
</aside>