<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Had a good experience?</h2>
      <a href="#" class="btn btn-default btn-xl sr-button">Leave me a review!</a>
    </div>
  </div>
</aside>