<section class="no-padding" id="reviews">
  <div class="container-fluid">
    <h2 class="section-heading text-center">What Others Have to Say</h2>
    <hr class="primary">
    <div class="row no-gutter popup-gallery">

      <div class="portfolio-box">
        <p>Sample reviews</p>
      </div>

      <div class="portfolio-box">
        <p>Sample reviews</p>
      </div>

      <div class="portfolio-box">
        <p>Sample reviews</p>
      </div>

      <div class="portfolio-box">
        <p>Sample reviews</p>
      </div>
      
    </div>
  </div>
</section>