<div class="booking">
	<a href="https://book.thecut.co/ErwintheBarber1" class="btn btn-default btn-xl sr-button">ErwintheBarber1</a>
	<iframe src="https://www.thecut.co/download?nojump" ></iframe>
</div>
